* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: azure;
    font-family: "华文行楷" !important;
}

.box {
    width: 9rem;
    margin: 0 auto;
    padding-top: 3.2rem;
}

.login-box {
    text-align: center;
    padding: 0.4rem;
}

.login-box .title {
    color: black;
    font-size: 0.6rem;
    margin-bottom: 0.6rem;
}

.login-box .form-item {
    margin-bottom: 0.4rem;
    font-size: 0.44rem;
}

.login-box .form-item:last-of-type {
    margin-bottom: 0;
}

.login-box .form-item input {
    width: 6rem;
    height: 0.9rem;
    color: grey;
    font-size: 0.32rem;
    text-indent: 1em;
    border: 0.02rem solid #3e4956;
    border-radius: 0.1rem;
    background-color: azure;
}

.login-box .tip {
    margin: 0.2rem 0;
    font-size: 0.32rem;
    text-align: right;
}

.login-box .tip a {
    color: #409eff;
    border-bottom: 0.02rem solid #409eff;
}

.login-box .submit-btn {
    width: 6.75rem;
    height: 0.8rem;
    color: #fff;
    border: 0.02rem solid #409eff;
    border-radius: 0.1rem;
    background-color: #409eff;
    cursor: pointer;
}