<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/hello.css') }}">
</head>
<body>
    <div class="box">
        <div class="login-box">
            <p class="hello">欢迎使用</p>
            <p class="hello">校园小助手</p>
            <p>&emsp;</p><p>&emsp;</p><p>&emsp;</p><p>&emsp;</p><p>&emsp;</p>
            <div class="b">
                <a href="/talk">点击进入</a>
            </div>
        </div>
    </div>
</body>
<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js">点击登录</script>
</html>