<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/rebuild.css') }}">
</head>
<body>
    <div class="box">
        <div class="login-box">
            <h3 class="title">
                修改密码
            </h3>
            <form action="" method="post">
                <div class="form-item">
                    新密码：<input type="text" placeholder="请输入新密码..." name="password" required="required" pattern="\w{7,19}" title="输入合法密码（8~20个字符）"><br />
                <p class="tip">
                    <a href="/login">记得密码，返回登陆？</a>
                </p>
                <button class="submit-btn">确认</button>
            </form>
        </div>
    </div>
</body>
<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js">点击登录</script>
</html>